html {
    font-family: system-ui;
    background-color: #FAFAFA;
    color: #343434;
    font-size: 14pt;
    margin: 1rem;
}

body {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

#noai-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6rem;
}

h1 {
    text-align: center;
    font-weight: 800;
}

h2,
h3,
h4 {
    text-align: center;
}

p {
    font-family: serif;
}

details {
    background-color: #EAEAEA;
    padding: 1rem;
}

details>summary {
    font-weight: 700;
}

details>code {
    display: block;
    margin-top: 0.5rem;
    font-size: 11pt;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.filter-darkgrey {
    filter: brightness(0) saturate(100%) invert(15%) sepia(10%) saturate(5%) hue-rotate(52deg) brightness(99%) contrast(86%);
}

footer {
    text-align: right;
    margin-top: 1rem;
}